/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,ol {
  padding: 0;
  margin: 0;
}


html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background: #fff;
  color: #5a5a5a;
  margin: 50px auto;
}

body, img {
  max-width: 700px;
}

a {
  color: #222;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  background-color: #FFDC00;
/*  color: green; */
}
img {
  outline: 0;
  border: 0;
}
h1 {
  font-size: 28px;
  line-height: 40px;
  color: #222;
  margin-bottom: 20px;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  color: green;
  margin-bottom: 21px;
  margin-top: 20px;
}
h3 {
  font-weight: normal;
  font-size: 20px;
  color: #222;
  margin-bottom: 21px;
}
h4 {
  color: green;
  font-weight: normal;
}
p {
  margin-bottom: 20px;
}


nav {
  overflow: hidden;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  padding: 10px 0;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: bold;
  float: left;
}
nav li a.active {
  color: green;
}
nav.submenu {
  border-top: none;
  margin-bottom: 20px;
}
nav.submenu a {
  font-weight: normal;
}
section.content {
  margin-top: 40px;
}
footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid green;
  font-size: 13px;
  color: #222;
}
footer a {
  color: green;
}
footer a:hover {
  color: #222;
}
hr {
  margin: 20px 0;
  color: #6c4305;
  border-width: 1px;
  border-style: inset;
}


table {
  width: 100%;
}
tbody tr {
  padding-bottom: 5px;
}
tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}
th, td {
  padding-right: 10px;
}
thead {
  text-align: left;
}

ul.unstyled li {
  list-style: none;
}
.gallery li {
  margin-bottom: 20px;
}
.gallery li a:hover {
  background-color: transparent;
}
